<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
<% include ./layouts/header %>
<div class="container-fluid page-wrap">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="Title text-center"></h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
      <div class="Signup-Form">
                 <h1>BeeBay
       <img src="/images/bee_logo.png"; id="bee_logo">
       </h1>
       <h3> See what all the BUZZ is about!</h3>
        <br>
<!-- 
        <h3 class="Title!"><%= message %></h3> -->

<form id="signup" name="signup" action="signup" method="post">
    <input type="text" name="username" placeholder="Username" class="form-control">
    <input type="email" name="email" placeholder="Email address" class="form-control">
    <input type="password" name="password" placeholder="Password" class="form-control">
    <input type="submit" value="Sign up" class="btn btn-primary form-control" style="width: 40%">
</form>
<br>
    <a href="/">  
    <input type="submit" value="Already Have An Account?" class="btn btn-danger"> 
    </a>


</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>   
